<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <img src=<% qr_code" %> alt="QR Code">
      <a href="/" type="submit">Back</a>
    </div>
  </body>
</html>
